@page { background: #fff;}
html {
    font-size: 11pt;
    font-family: "Gothic Uralic", sans-serif;
    font-weight:normal;
}
P { margin-bottom: 0.21cm;
    font-weight: normal;
    text-align: justify;
}
h1 h2 { margin-bottom: 0.21cm; }
h1 {  text-align:center; padding: 0 15%;}
.inlay {
    position:relative;
    font-size: smaller;
    border: 1px solid black;
    background-color: #eef;
    padding: 0.35cm 0.35cm;
    margin: 0.42cm 0.21cm;
    float: right;
    width: 10cm;
    z-index: 3;
}
.box {
    position:relative;
    border: 1px solid black;
    background-color: #eef;
    padding: 0.21cm 0.35cm;
    margin: 0.21cm;
    float: right;
    z-index: 3;
}
.description {
    font-family: "Albany", "Arial", "Helvetica", "Lucida", "Geneva", "Helmet", "SansSerif", "Andale Sans UI", "Arial Unicode MS", "Lucida Sans Unicode", "Tahoma", "Luxi Sans", "Bitstream Vera Sans", sans-serif;
    border-top: 1px solid #000;
}
span.title { font-weight: bold;}
.author {font-size:smaller; margin: 0.21cm 0;}
.equation {
    display:block;
    float: none;
    width: 40%;
    white-space:nowrap;
}

div.abstract {
    font-size: smaller;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #eee;
    padding: 0.14cm 0.21cm 0.21cm 0.21cm;
    margin: 0.35cm 0;
}
.capiton {
    position: relative;
    top: -0.52cm;
    background-color: #ddd;
    padding: 0.11cm;
    margin: 0;
    font-weight: bolder;
    width: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
h2.capiton {
    top:0;
}
h3.capiton { top: 0; margin-top: 0.3cm;}
.spread {
    font-size: smaller;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #eef;
    padding: 0.21cm 0.35cm;
    margin-bottom: 0.21cm;
}
.smaller {
    font-size: smaller;
}
dfn { text-decoration: underline; color: #003; font-style:normal;}
blockquote {

}